@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
html body{
  background-color: #2c2c2c;
}
body a{
  text-decoration: none;
}
body a:hover{
  text-decoration: none;
}
body{
font-family: Share Tech Mono;
}
/**************************************
***************************************
**** pied de page du site web *********
***************************************
**************************************/
footer{
  margin-top:45px;
  display: block;
  position:relative;
  height: 300px;
  width:100%;
  background-color:black;
  border-style: solid;
  /*border-color:white;*/
  /*border-width: 3px;*/
  font-family: Share Tech Mono;
}

/***** img block footer *****/

#imgBlock{
  position:relative;
  //float:left;
  /*border:1px solid green;*/
  height:40%;
  width:100%;
  //margin-left:35%;
  //background-color:red;
	padding-bottom:0px;
}
#imgBlock img{
  //position:relative;
  display: inline-block;
  /*border:4px solid white;*/
  //margin-left:15px;
  margin-top: 15px;
  width:50px;
  height:50px;
}

/******* txt bloc footer *******/
.txtBlock{
  position:relative;
  margin-top:10px;
  float:left;
  border:1px solid black;
  width:100%;
  height:30%;
  display:block;
  text-align:center;
  background-color:black;
  font-family:Share Tech Mono;
  font-size:25px;
  padding-top:30px;
  color:white;
}
.txtBlock a{
  text-decoration:none;
  color:white;
}
.txtBlock a:hover{
  text-decoration:none;
  color: black;
  background-color: white;
}
/****** copyright *******/
.copyright{
  display: block;
  position:relative;
  float:left;
  /*border:1px solid white;*/
  width:100%;
  height:20%;
  text-align:center;
  font-size:20px;
  font-family:Share Tech Mono;
  padding-top:7px;

}
/****************************************
*****************************************
***** fin du pied de page ***************
*****************************************
****************************************/
.icon{
  width: 250px;
  height: 250px;
  border-style: solid;
  border-width: 0px;
  border-color: white;
}
#nav_hori{
  width: 100%;
  height: 250px;
  background-color: white;
}
#bout{
  text-align: center;
  font-family: Share Tech Mono;
  font-size: 28px;
  color: white;
  font-weight: bold;
  width: 80%;
  /* background-color: gray; */
  height: auto;
  padding-top:10%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 3%;
  background-image: url("../Img/Big/paper_bulb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#bout a{
  text-decoration: none;

}
#prev{
  display:none;
  width: 4%;
  height: 150px;
  border-style: solid;
   border-color:white;
  /* border-width: 2px; */
    margin-left: 5%;
    margin-top: 400px;
    background-color: white;
    font-size: 50px;
}
#prev:active{
  background-color:#2c2c2c;
  color: white;
}
#next{
  display: none;
  width: 4%;
  height: 150px;
  border-style: solid;
   border-color:white;
  /* border-width: 2px; */
  margin-left: 84%;
  background-color: white;
  font-size: 50px;
}
#next:active{
  background-color:#2c2c2c;
  color: white;
}
/********************************
*********************************
*** slider animation ************
*********************************
********************************/

#slide_box{
  position:relative;
  border:1px solid black;
  width: 80%;
  height: 800px;
  background-color: white;
  margin-top: 100px;
  //margin-left: 2%;
border:0px solid white;
}

#slide_box .Slides {
  position:relative;
  float:left;
  width:100%;
  height: 100%;
  display: none;
}

.Slides img {
  display: block;
  float:left;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* Indicators */
.dot {
  height: 30px;
  width: 30px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: rgb(8, 201, 82);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/******************************
*******************************
***** end of animation ********
******************************/

.folio{
    text-align: center;
    height: 100px;
    width: 20%;
  margin-left: 71%;
    background-color: white;
    color: #2c2c2c;
    margin-top: 50px;
    font-size: 275%;
    font-family: Share Tech Mono;
    padding-top: 2%;
}
#projects{
  width: 80%;
  height: 600px;
  background-color: white;
  margin-top: 10px;
  margin-left: 2%;
  font-family: Share Tech Mono;
}
.uss{
  text-align: center;
  height: 100px;
  width: 20%;
  margin-left: 11%;
  background-color: white;
  color: #2c2c2c;
  margin-top: 50px;
  font-size: 275%;
  font-family: Share Tech Mono;
  padding-top: 2%;
}
#us{
  width: 80%;
  position:relative;
  display:block;
  height: 500px;
  background-color: white;
  margin-top: 10px;
  margin-left: 2%;
  font-size:185%;
  /*background-image: url("../Img/big/bg.jpg");*/
  /*border:1px solid red;*/
  padding: 30px;
  text-align:justify;
  font-family: Share Tech Mono;
  overflow:hidden;
}
.equip{
  text-align: center;
  height: 100px;
  width: 20%;
  margin-left: 71%;
  background-color: white;
  color: #2c2c2c;
  margin-top: 50px;
  font-size: 275%;
  font-family: Share Tech Mono;
  padding-top: 2%;
}
/*
#team{
  width: 80%;
  height: 500px;
  background-color:white;
  margin-top: 10px;
  margin-left: 2%;
  padding:20px;
  font-family: Share Tech Mono;
}
#team .tm {
  position: relative;
  float:left;
  border:1px dotted blue;
  width:49%;
  margin-right: 10px;
  height:100%;
  padding:10px;
}
#team .tm img{
  margin:0 auto;
  height:200px ;
  width:200px;
  border-radius:50%;
  border:1px solid black;
  overflow: hidden;

}
#team .tm img:hover{
  border:6px solid blue;
}
#team .tm #present{
  font-family:Share Tech Mono;
  text-align:justify;
  margin-left:4px;
  font-size:22px;
}
*/
.spec{
  text-align: center;
  height: 100px;
  width: 25%;
  margin-left: 11%;
  background-color: white;
  color: #2c2c2c;
  margin-top: 50px;
  font-size: 275%;
  font-family: Share Tech Mono;
  padding-top: 2%;
}
#specs{
  width: 80%;
  height: auto;
  padding: 2% 0% 2% 0%;
  background-color: white;
  margin-top: 10px;
  margin-left: 2%;
  font-family: Share Tech Mono;
}
.spc_lnk{
  margin-left: 20%;
  color: white;
  background-color: #2c2c2c;
  height: 65px;
  width: 18%;
  padding-left: 1.5%;
  padding-top: 1%;
  margin-top: -10%;
  font-size: 200%;
    font-family: Share Tech Mono;
}
.spc_lnk:hover{
      border-left: #00E929 25px solid;
      transition-duration: 1s;
}
.abt_lnk{
  margin-left: 40%;
  color: white;
  background-color: #2c2c2c;
  margin-top: -4.4%;
  height: 65px;
  width: 18%;
    font-family: Share Tech Mono;
      font-size: 200%;
      text-align: right;
      padding-right: 2%;
      padding-top: 1%;
}
.abt_lnk:hover{
      border-right: #00E929 25px solid;
  transition-duration: 1s;
}
.port_lnk{
  margin-left: 60%;
  color: white;
  background-color: #2c2c2c;
  margin-top: -4.4%;
  height: 65px;
  width: 18%;
    font-family: Share Tech Mono;
      font-size: 200%;
      padding-left: 1.5%;
      padding-top: 1%;
}
.port_lnk:hover{
  padding-top: 0%;
      border-bottom: #00E929 25px solid;
  transition-duration: 1s;
}
.team_lnk{
  margin-left: 80%;
  color: white;
  background-color: #2c2c2c;
  height: 65px;
  width: 11%;
    margin-top: -3.4%;
      font-family: Share Tech Mono;
        font-size: 200%;
        padding-left: 2%;
        padding-top: 1%;
}
.team_lnk:hover{
  padding-top: 0%;
      border-top: #00E929 25px solid;
  transition-duration: 1s;
}
.others_anchor{
  background-color: #00E929;
  color: #2c2c2c;
}
.others_anchor:hover{
  background-color: #2c2c2c;
  color: white;
}
.contact_anchor{
  background-color: #00E929;
  color: #2c2c2c;
}
.contact_anchor:hover{
  background-color: #2c2c2c;
  color: white;
}
.mail_anchor{
  background-color: #00E929;
  color: #2c2c2c;
}
.mail_anchor:hover{
  background-color: #2c2c2c;
  color: white;
}
.create_web{
  background-color: #2c2c2c;
  color: white;
  font-size: 150%;
  width: 40%;
  height: 400px;
  margin-left: -57%;
}
.create_web img
{
  width: 100%;
  height: 350px;
}
.create_web_comment{
  background-color: #2c2c2c;
  width: 40%;
  height: 400px;
  color:white;
  margin-left: -57%;
  margin-top: -33%;
    position: relative;
    opacity: 0;
    font-size: 210%;
}
.create_web_comment:hover{
  opacity:0.9;
  transition-duration: 1.5s;
}

.infograph{
  background-color: #2c2c2c;
  color: white;
  font-size: 150%;
  width: 40%;
  height: 400px;
  margin-left: 57%;
  margin-top: 0%;
}
.infograph img
{
  width: 100%;
  height: 350px;
}
.infograph_comment{
  background-color: #2c2c2c;
  width: 40%;
  height: 400px;
  color:white;
  margin-left: 57%;
  margin-top: -33%;
    position: relative;
    opacity: 0;
    font-size: 210%;
}
.infograph_comment:hover{
  opacity:0.9;
  transition-duration: 1.5s;
}

.create_soft{
  background-color: #2c2c2c;
  color: white;
  font-size: 150%;
  width: 40%;
  height: 400px;
  margin-left: -57%;
  margin-top: 0%;
}
.create_soft img
{
  width: 100%;
  height: 350px;
}
.create_soft_comment{
  background-color: #2c2c2c;
  width: 40%;
  height: 400px;
  color:white;
  margin-left: -57%;
  margin-top: -33%;
    position: relative;
    opacity: 0;
    font-size: 210%;
}
.create_soft_comment:hover{
  opacity:0.9;
  transition-duration: 1.5s;
}

.network{
  background-color: #2c2c2c;
  color: white;
  font-size: 150%;
  width: 40%;
  height: 400px;
  margin-left: 57%;
  margin-top: 2%;
}
.network img
{
  width: 100%;
  height: 350px;
}
.network_comment{
  background-color: #2c2c2c;
  width: 40%;
  height: 400px;
  color:white;
  margin-left: 57%;
  margin-top: -33%;
    position: relative;
    opacity: 0;
    font-size: 210%;
}
.network_comment:hover{
  opacity:0.9;
  transition-duration: 1.5s;
}

.consult{
  background-color: #2c2c2c;
  color: white;
  font-size: 150%;
  width: 40%;
  height: 400px;
  margin-left: -57%;
  margin-top: 0%;
}
.consult img
{
  width: 100%;
  height: 350px;
}
.consult_comment{
  background-color: #2c2c2c;
  width: 40%;
  height: 400px;
  color:white;
  margin-left: -57%;
  margin-top: -33%;
    position: relative;
    opacity: 0;
    font-size: 210%;
}
.consult_comment:hover{
  opacity:0.9;
  transition-duration: 1.5s;
}

.plomb_base{
  background-color: #2c2c2c;
  color: white;
  font-size: 150%;
  width: 40%;
  height: 400px;
  margin-left: -57%;
}
.plomb_base img
{
  width: 100%;
  height: 350px;
}
.plomb_base_comment{
  background-color: #2c2c2c;
  width: 40%;
  height: 400px;
  color:white;
  margin-left: -57%;
  margin-top: -33%;
    position: relative;
    opacity: 0;
    font-size: 210%;
}
.plomb_base_comment:hover{
  opacity:0.9;
  transition-duration: 1.5s;
}
